{{ define "notifications" }}
{{- if .Success -}}
{{- range .Success -}}
<div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 11">
    <div class="toast hide d-flex text-white bg-success" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            {{ . }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
{{- end -}}
{{- end -}}

{{- if .Errors -}}
{{- range .Errors -}}
<div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 11">
    <div class="toast hide d-flex text-white bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            {{ . }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
{{- end -}}
{{- end -}}


{{- if .Infos -}}
{{- range .Infos -}}
<div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 11">
    <div class="toast hide d-flex text-white bg-info" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            {{ . }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
{{- end -}}
{{- end -}}

{{- if .Warning -}}
{{- range .Warning -}}
<div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 11">
    <div class="toast hide d-flex text-white bg-warning" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body">
            {{ . }}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
{{- end -}}
{{- end -}}

{{ end }}