{{ define "table-footer" }}
{{ if .Pagination }}
<div class="flex flex-col md:flex-row justify-between items-center px-6 py-4 border-t border-base-200 gap-4">
    <span class="text-sm text-base-content/60">Mostrando {{ .Pagination.Start }} até {{ .Pagination.End }} de
        {{.Pagination.Total}} registros</span>

    <div class="join">
        <!-- Anterior -->
        {{if .Pagination.HasPrev}}
        <a class="join-item btn btn-sm"
            href="?page={{.Pagination.PrevPage}}&page_size={{.Pagination.PageSize}}{{ range $key, $value := .Filters }}{{ if $value }}&{{ $key }}={{ $value }}{{ end }}{{ end }}">Anterior</a>
        {{else}}
        <button class="join-item btn btn-sm btn-disabled">Anterior</button>
        {{end}}

        <!-- Números -->
        {{ range .Pagination.Pages }}
        {{ if eq . -1 }}
        <button class="join-item btn btn-sm btn-disabled">...</button>
        {{ else }}
        <a class="join-item btn btn-sm {{if eq . $.Pagination.Page}}btn-active{{end}}"
            href="?page={{.}}&page_size={{$.Pagination.PageSize}}{{ range $key, $value := $.Filters }}{{ if $value }}&{{ $key }}={{ $value }}{{ end }}{{ end }}">{{.}}</a>
        {{ end }}
        {{ end }}

        <!-- Próximo -->
        {{if .Pagination.HasNext}}
        <a class="join-item btn btn-sm"
            href="?page={{.Pagination.NextPage}}&page_size={{.Pagination.PageSize}}{{ range $key, $value := .Filters }}{{ if $value }}&{{ $key }}={{ $value }}{{ end }}{{ end }}">Próximo</a>
        {{else}}
        <button class="join-item btn btn-sm btn-disabled">Próximo</button>
        {{end}}
    </div>

    <div>
        <form action="" method="get">
            <input type="hidden" name="page" value="1">
            {{ range $key, $value := .Filters }}
            {{ if $value }}
            <input type="hidden" name="{{ $key }}" value="{{ $value }}">
            {{ end }}
            {{ end }}
            <select class="select select-bordered select-sm" name="page_size" id="page_size"
                onchange="this.form.submit()">
                <option value="10" {{if eq .Pagination.PageSize 10}}selected{{end}}>10</option>
                <option value="20" {{if eq .Pagination.PageSize 20}}selected{{end}}>20</option>
                <option value="50" {{if eq .Pagination.PageSize 50}}selected{{end}}>50</option>
                <option value="500" {{if eq .Pagination.PageSize 500}}selected{{end}}>500</option>
                <option value="1000" {{if eq .Pagination.PageSize 1000}}selected{{end}}>1000</option>
            </select>
        </form>
    </div>
</div>
{{ end }}
{{ end }}